<p id="notice"><%= notice %></p>

<h1>Listing Remedies</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Twitter handle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @remedies.each do |remedy| %>
      <tr>
        <td><%= remedy.description %></td>
        <td><%= remedy.twitter_handle %></td>
        <td><%= link_to 'Show', remedy %></td>
        <td><%= link_to 'Edit', edit_remedy_path(remedy) %></td>
        <td><%= link_to 'Destroy', remedy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Remedy', new_remedy_path %>
