<!DOCTYPE html>
<html>
<head>
  <title>Hiccup Helper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body style="background-color:<%=@background_color%>">
    <%= yield %>
  </body>
</html>
